n8n/distroforge-arch-builder.json
{
  "name": "DistroForge — Arch ISO Builder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forge-request",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "37a8bd98-7092-42c1-8d50-0b1ab060f391",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "forge-request-arch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Distro: {{ $json.body.distro || 'arch' }}\nApps: {{ $json.body.apps.join(' ') }}\nGPU: {{ $json.body.gpu }}\nDesktop: {{ $json.body.desktop }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\"You are a Linux Package Expert. Respond ONLY with a space-separated list of official package names for the requested distro. Do not include 'User ID', 'Apps requested', or any other text.\n\nExample correct output: firefox vlc gimp nvidia-utils\""
        }
      },
      "id": "eb0f9fac-4854-4a98-a203-e01da9e91265",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "resource": "workflow",
        "owner": "Rish3666",
        "repository": {
          "__rl": true,
          "value": "forge-it-engine",
          "mode": "list",
          "cachedResultName": "forge-it-engine",
          "cachedResultUrl": "https://github.com/Rish3666/forge-it-engine"
        },
        "workflowId": {
          "__rl": true,
          "value": "={{ $node[\"AI Agent\"].json.output.distro }}-builder.yml",
          "mode": "filename"
        },
        "inputs": "={\n  \"packages\": \"{{ $node[\"AI Agent\"].json.output.packages }}\",\n  \"userId\": \"{{ $node[\"Webhook\"].json.body.userId }}\"\n}"
      },
      "id": "95f0c249-a850-4cd0-8176-ef556b866f9c",
      "name": "Dispatch GitHub Build",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "webhookId": "7adc74dc-b84e-48ae-be71-843269708f1b",
      "credentials": {
        "githubApi": {
          "id": "IwYkapVrqAh3yyap",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', userId: $('Webhook').item.json.userId, packages: $('AI Agent').item.json.output, message: 'Forge process initiated. Your ISO will be ready in ~10 minutes.' }) }}",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Forge-Version",
                "value": "2.0"
              }
            ]
          }
        }
      },
      "id": "7398b0ae-250f-4429-97bf-f41bfff32804",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        0
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "ce492cc6-6432-49ea-ba5b-622a425e12fe",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "credentials": {
        "groqApi": {
          "id": "ZpBDX2qbD5xa10NJ",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"packages\": {\n      \"type\": \"string\",\n      \"description\": \"Space-separated list of packages for the chosen distro\"\n    },\n    \"distro\": {\n      \"type\": \"string\",\n      \"enum\": [\"arch\", \"ubuntu\", \"fedora\"],\n      \"description\": \"The distro identified from the user request\"\n    }\n  },\n  \"required\": [\"packages\", \"distro\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "9f4b266f-4ba1-4a8d-a1a0-a0d09bd26ca2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "5dc5c4f9-45ac-4a4c-86cb-d3e226b473c6",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "credentials": {
        "groqApi": {
          "id": "ZpBDX2qbD5xa10NJ",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "4bd16707-feca-4efe-a355-b5fc76c5777c",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "hGq8iE6hh6Dq94F9",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Dispatch GitHub Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch GitHub Build": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e5c7ced6-0e9a-4411-aefe-e77473e274a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6467805390dda38051086c1559f42d746465701d0b2fc26885ee8586a845ef73"
  },
  "id": "MsOKBStmcTEkjSLg",
  "tags": [
    {
      "updatedAt": "2026-04-15T05:01:50.584Z",
      "createdAt": "2026-04-15T05:01:50.584Z",
      "id": "8NjDMgYzWBRQdF8c",
      "name": "distroforge"
    },
    {
      "updatedAt": "2026-04-15T05:01:50.580Z",
      "createdAt": "2026-04-15T05:01:50.580Z",
      "id": "ZvupoOLDsa9YSULd",
      "name": "arch-linux"
    },
    {
      "updatedAt": "2026-04-15T05:01:50.585Z",
      "createdAt": "2026-04-15T05:01:50.585Z",
      "id": "b1j5bkouwjvuI8p0",
      "name": "iso-builder"
    }
  ]
}