n8n/distroforge-arch-builder.json
{
  "name": "DistroForge — Arch ISO Builder",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4abc-8abc-aabbcc001001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "forge-request-arch",
      "parameters": {
        "httpMethod": "POST",
        "path": "forge-request",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4abc-8abc-aabbcc001002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [520, 300],
      "parameters": {
        "agent": "conversationalReactDescription",
        "promptType": "define",
        "text": "=User ID: {{ $json.userId }}\nApps requested: {{ $json.apps.join(', ') }}\nDesktop environment: {{ $json.desktop }}\nGPU type: {{ $json.gpu }}",
        "options": {
          "systemMessage": "You are a Linux package resolver for Arch Linux. Translate the user's app list, desktop environment, and GPU type into an exact comma-separated string of official Arch Linux pacman package names. Rules:\n1. Use ONLY official archlinux.org package names - no AUR unless absolutely necessary.\n2. If GPU is NVIDIA, always add: nvidia-dkms,nvidia-utils,lib32-nvidia-utils\n3. If GPU is AMD, always add: mesa,vulkan-radeon,lib32-mesa\n4. Map desktop environments: kde->plasma, gnome->gnome, hyprland->hyprland, xfce->xfce4\n5. Output ONLY the comma-separated string - no explanation, no markdown, no extra text."
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-4abc-8abc-aabbcc001003",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [400, 520],
      "parameters": {
        "model": "groq/compound-mini",
        "options": {
          "temperature": 0.1,
          "maxOutputTokens": 512
        }
      },
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Groq API — DistroForge"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4abc-8abc-aabbcc001005",
      "name": "Dispatch GitHub Build",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [840, 300],
      "parameters": {
        "authentication": "accessToken",
        "resource": "workflow",
        "operation": "dispatch",
        "owner": "Rish3666",
        "repository": "forge-it-engine",
        "workflow": "build-iso.yml",
        "ref": "main",
        "additionalFields": {
          "inputs": "={{ JSON.stringify({ packages: $json.output, userId: $('Webhook').item.json.userId, gpu: $('Webhook').item.json.gpu, distro: 'arch' }) }}"
        }
      },
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "GitHub PAT — DistroForge"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-4abc-8abc-aabbcc001006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', userId: $('Webhook').item.json.userId, packages: $('AI Agent').item.json.output, message: 'Forge process initiated. Your ISO will be ready in ~10 minutes.' }) }}",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Forge-Version",
                "value": "2.0"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Dispatch GitHub Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch GitHub Build": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f1d20001-aaaa-4bbb-8ccc-ddddeeee0001",
  "id": "f1d20001-bbbb-4ccc-8ddd-eeeeffffg001",
  "tags": [
    { "name": "distroforge" },
    { "name": "arch-linux" },
    { "name": "iso-builder" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "distroforge-local"
  },
  "_importInstructions": {
    "step1_credentials": "After importing, go to Credentials and create 3 credentials:",
    "cred_1": "Groq API — paste your Groq API key",
    "cred_2": "Redis — set host/port for your Redis instance",
    "cred_3": "GitHub PAT — paste your github_pat_... token",
    "step2_activate": "Then click 'Activate' in the top-right of the workflow to enable the webhook.",
    "step3_test": "POST to: http://YOUR_N8N_URL/webhook/forge-request with body: { userId, apps: [], gpu, desktop }"
  }
}
