n8n/distroforge-enterprise-rag.json
{
  "name": "DistroForge — Enterprise Multi-Distro Builder (RAG)",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-4abc-8abc-bbccdd002001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "forge-enterprise-rag",
      "parameters": {
        "httpMethod": "POST",
        "path": "forge-enterprise",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-4abc-8abc-bbccdd002002",
      "name": "RAG — Lookup Packages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT app_name, package_name, install_method\nFROM package_dictionary\nWHERE distro = '{{ $json.base_distro }}'\n  AND app_name = ANY(ARRAY[{{ $json.apps.map(a => `'${a}'`).join(',') }}]::text[])\nORDER BY app_name;",
        "options": {
          "queryBatching": "independently"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL — DistroForge"
        }
      }
    },
    {
      "id": "b2c3d4e5-0003-4abc-8abc-bbccdd002003",
      "name": "Build Dispatch Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "// DistroForge — Enterprise Mapping Logic\n// Reads all rows returned by the RAG lookup and assembles the build payload.\n\nconst items = $input.all();\nconst webhookData = $('Webhook').item.json;\n\nconst base_distro = webhookData.base_distro || 'arch';\nconst gpu = webhookData.gpu || 'Generic';\n\n// 1. Gather all resolved package names from the RAG result\nconst resolvedPackages = items\n  .map(i => i.json.package_name)\n  .filter(Boolean);\n\n// 2. Inject GPU drivers based on detected GPU\nif (gpu.toLowerCase().includes('nvidia')) {\n  if (base_distro === 'arch') {\n    resolvedPackages.push('nvidia-dkms', 'nvidia-utils', 'lib32-nvidia-utils');\n  } else if (base_distro === 'ubuntu') {\n    resolvedPackages.push('nvidia-driver-535');\n  } else if (base_distro === 'fedora') {\n    resolvedPackages.push('akmod-nvidia', 'xorg-x11-drv-nvidia-cuda');\n  }\n} else if (gpu.toLowerCase().includes('amd') || gpu.toLowerCase().includes('radeon')) {\n  resolvedPackages.push('mesa', 'vulkan-radeon', 'lib32-mesa');\n}\n\n// Deduplicate\nconst uniquePackages = [...new Set(resolvedPackages)];\nconst packageString = uniquePackages.join(base_distro === 'ubuntu' ? ' ' : ',');\n\n// 3. Map distro to official Docker image for CI runner\nconst distroToDockerImage = {\n  'arch':    'archlinux:latest',\n  'ubuntu':  'ubuntu:24.04',\n  'fedora':  'fedora:41',\n  'debian':  'debian:bookworm',\n  'centos':  'quay.io/centos/centos:stream9',\n  'opensuse':'opensuse/tumbleweed:latest',\n};\nconst docker_image = distroToDockerImage[base_distro] || 'archlinux:latest';\n\nreturn {\n  json: {\n    userId:          webhookData.userId,\n    base_distro,\n    docker_image,\n    mapped_packages: packageString,\n    package_count:   uniquePackages.length,\n    gpu_injected:    gpu,\n    resolved_at:     new Date().toISOString(),\n  }\n};"
      }
    },
    {
      "id": "b2c3d4e5-0004-4abc-8abc-bbccdd002004",
      "name": "Dispatch GitHub Enterprise Build",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [980, 300],
      "parameters": {
        "authentication": "accessToken",
        "resource": "repository",
        "operation": "createDispatchEvent",
        "owner": "Rish3666",
        "repository": "forge-it-engine",
        "eventType": "build_enterprise_iso",
        "additionalFields": {
          "clientPayload": "={{ JSON.stringify({ docker_image: $json.docker_image, mapped_packages: $json.mapped_packages, userId: $json.userId, base_distro: $json.base_distro }) }}"
        }
      },
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "GitHub PAT — DistroForge"
        }
      }
    },
    {
      "id": "b2c3d4e5-0005-4abc-8abc-bbccdd002005",
      "name": "Log Build to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [980, 500],
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "build_history",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Build Dispatch Payload').item.json.userId }}",
            "distro": "={{ $('Build Dispatch Payload').item.json.base_distro }}",
            "packages": "={{ $('Build Dispatch Payload').item.json.mapped_packages }}",
            "status": "queued"
          }
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL — DistroForge"
        }
      }
    },
    {
      "id": "b2c3d4e5-0006-4abc-8abc-bbccdd002006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'enterprise_initiated', userId: $('Build Dispatch Payload').item.json.userId, base_distro: $('Build Dispatch Payload').item.json.base_distro, docker_image: $('Build Dispatch Payload').item.json.docker_image, package_count: $('Build Dispatch Payload').item.json.package_count, resolved_at: $('Build Dispatch Payload').item.json.resolved_at, message: 'Enterprise build dispatched. Your ISO will be ready in ~15 minutes.' }) }}",
        "options": {
          "responseCode": 202,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Forge-Mode",
                "value": "enterprise-rag"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "RAG — Lookup Packages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG — Lookup Packages": {
      "main": [
        [
          {
            "node": "Build Dispatch Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dispatch Payload": {
      "main": [
        [
          {
            "node": "Dispatch GitHub Enterprise Build",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Build to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch GitHub Enterprise Build": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f2d20002-aaaa-4bbb-8ccc-ddddeeee0002",
  "id": "f2d20002-bbbb-4ccc-8ddd-eeeeffffg002",
  "tags": [
    { "name": "distroforge" },
    { "name": "enterprise" },
    { "name": "rag" },
    { "name": "multi-distro" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "distroforge-local"
  },
  "_importInstructions": {
    "step1_credentials": "After importing, create 2 credentials:",
    "cred_1": "Supabase PostgreSQL — host: db.<your-project>.supabase.co, port: 5432, db: postgres, user: postgres, password: <your-supabase-db-password>",
    "cred_2": "GitHub PAT — paste your github_pat_... token",
    "step2_supabase": "Make sure you have run database/schema.sql in your Supabase SQL editor first.",
    "step3_activate": "Click 'Activate' to enable the webhook.",
    "step4_test": "POST to: http://YOUR_N8N_URL/webhook/forge-enterprise\nBody: { \"userId\": \"test1\", \"base_distro\": \"arch\", \"apps\": [\"vscode\", \"steam\", \"discord\"], \"gpu\": \"NVIDIA\" }"
  }
}
