n8n/forge-enterprise-workflow.json
{
  "name": "Forge It - Enterprise RAG Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forge-enterprise",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT package_name FROM package_dictionary WHERE distro = '{{ $json.base_distro }}' AND app_name IN ({{ $json.apps.map(a => \"'\" + a + \"'\").join(',') }})"
      },
      "id": "node-postgres",
      "name": "PostgreSQL (RAG Dictionary)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "// Forge It Enterprise Mapping Logic\nconst items = $input.all();\nconst base_distro = $('Webhook').item.json.base_distro;\n\n// 1. Gather all package names from RAG result\nconst packages = items.map(i => i.json.package_name).join(' ');\n\n// 2. Map Distro to Official Docker Image\nconst distroMap = {\n  'arch': 'archlinux:latest',\n  'fedora': 'fedora:latest',\n  'ubuntu': 'ubuntu:latest',\n  'debian': 'debian:latest',\n  'centos': 'quay.io/centos/centos:stream9'\n};\n\nconst docker_image = distroMap[base_distro] || 'archlinux:latest';\n\nreturn {\n  docker_image,\n  mapped_packages: packages,\n  userId: $('Webhook').item.json.userId\n};"
      },
      "id": "node-code",
      "name": "Format Builder Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "repository",
        "operation": "createDispatchEvent",
        "owner": "Rish3666",
        "repository": "forge-it-engine",
        "eventType": "build_enterprise_iso",
        "clientPayload": "={{ JSON.stringify({ docker_image: $json.docker_image, mapped_packages: $json.mapped_packages, userId: $json.userId }) }}"
      },
      "id": "node-github",
      "name": "GitHub (Enterprise Dispatch)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [720, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'enterprise_initiated', userId: $json.userId, image: $json.docker_image } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "PostgreSQL (RAG Dictionary)", "type": "main", "index": 0}]]
    },
    "PostgreSQL (RAG Dictionary)": {
      "main": [[{"node": "Format Builder Payload", "type": "main", "index": 0}]]
    },
    "Format Builder Payload": {
      "main": [[{"node": "GitHub (Enterprise Dispatch)", "type": "main", "index": 0}]]
    },
    "GitHub (Enterprise Dispatch)": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  }
}
